.container{
    display: flex;
   gap: 20px;
   background-color: black;
   color: white;
   width: 100vw;
   align-items: center;
   justify-content: center;
    
}
.containerInfo{
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 100%;
}